.root {
  @apply transition-colors ease-in-out duration-500;
}

.root .name {
  @apply w-full max-w-full pt-0 leading-extra-loose;
  font-size: 2rem;
  letter-spacing: 0.4px;
  line-height: 2.1em;
}

.root .name span {
  @apply py-4 font-bold bg-primary text-primary;
  color: var(--accent-1);
  min-height: 70px;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.root .name span.fontsizing {
  display: flex;
  padding-top: 1.5rem;
}

.root .price {
  @apply inline-block px-6 pt-2 pb-4 text-sm font-semibold tracking-wide bg-primary text-accent-9;
  margin-top: -1px;
}

.root .name span.category {
  @apply text-base font-medium ml-2 text-lg;
}
